.strong-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.strong-graph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.strong-all {
  display: flex;
  flex-direction: row;
  gap: 5px;
  box-sizing: border-box;
}

.strong {
  background-color: hsl(127, 100%, 82%);
  width: 10px;
  height: 28px;
  box-sizing: border-box;
}

.yellow {
  background-color: hsl(42, 91%, 68%);
  width: 10px;
  height: 28px;
  box-sizing: border-box;
}
.black {
  background-color: hsl(248, 15%, 11%);
  width: 10px;
  height: 28px;
  border: 2px solid #e6e5ea;
  box-sizing: border-box;
}

.orange {
  background-color: hsl(13, 95%, 66%);
  width: 10px;
  height: 28px;
  box-sizing: border-box;
}
.red {
  background-color: hsl(0, 91%, 63%);
  width: 10px;
  height: 28px;
  box-sizing: border-box;
}
